<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_character.name %>
</p>

<%= link_to 'Edit', edit_admin_character_path(@admin_character) %> |
<%= link_to 'Back', admin_characters_path %>
